[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.68.2"
loguru = "~=0.6.0"
pydantic = "~=1.9"
pytest = "~=6.0"
elasticsearch = {version="~=7.16", extras=["async"]}
mypy = "==0.931"
types-requests = "~=2.27"
loguru-mypy = "==0.0.4"
furl = "~=2.1"
requests = "~=2.27"
black = "~=22.1"
isort = "~=5.10.1"
pylint = "~=2.12"
astroid = "==2.9.0"
uvicorn = "~=0.17.5"
pytest-asyncio = "==0.18.2"
pytest-docker = "==0.10.3"
coverage = "~=6.3"
twine = "~=4.0.0"

[dev-packages]

[requires]
python_version = "3.10"
