[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.68.2"
loguru = "~=0.6.0"
pydantic = "~=1.9"
pytest = "~=6.0"
elasticsearch = {version="~=7.16", extras=["async"]}
mypy = "==0.931"

[dev-packages]

[requires]
python_version = "3.10"
