aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
elasticsearch[async]==7.17.1
fastapi==0.68.2
frozenlist==1.3.0
idna==3.3
iniconfig==1.1.1
loguru==0.6.0
loguru-mypy==0.0.4
multidict==6.0.2
mypy==0.931
mypy-extensions==0.4.3
packaging==21.3
pluggy==1.0.0
py==1.11.0
pydantic==1.9.0
pyparsing==3.0.7
pytest==6.2.5
starlette==0.14.2
toml==0.10.2
tomli==2.0.1
typing_extensions==4.1.1
types-requests==2.27.11
types-urllib3==1.26.10
urllib3==1.26.8
yarl==1.7.2
