version: "3.7"
services:
  registry:
    image: registry:2.8.1
    ports:
      - 15000:5000
    volumes:
      - ./data/registry:/var/lib/registry

  pypi:
    image: pypiserver/pypiserver:v1.4.2
    command: ["--passwords", ".htpasswd", "--authenticate", "update"]
    ports:
      - 6006:8080
    volumes:
      - ./data/pypi/packages:/data/packages
      - ./config/pypi/.htpasswd:/data/.htpasswd
